/CrpEndereco.class
/CrpPais.class
/CrpPesInventor.class
/CrpPesProcurador.class
/CrpPesRequerente.class
/CrpRpi.class
/CrpUf.class
/DiPedido.class
/PtnClassif.class
/PtnClassifDesc.class
/PtnClassifPedido.class
/PtnClassifPedidoPK.class
/PtnDespacho.class
/PtnDespachoPK.class
/PtnEscritorio.class
/PtnInventor.class
/PtnInventorPK.class
/PtnLeiPatente.class
/PtnPct.class
/PtnPctPK.class
/PtnPedido.class
/PtnPrioridade.class
/PtnProcurador.class
/PtnProcuradorPK.class
/PtnRequerente.class
/PtnRequerentePK.class
/PtnResumoPedido.class
/PtnTipoDespacho.class
/PtnTipoDespachoPK.class
/RequerenteAux.class
/RequerenteAuxPK.class
/Solicitante.class
